@tailwind base;
@tailwind components;
@tailwind utilities;

.part1, .part2, .part3, .part4, part5 {
    visibility: hidden;
}

body{
    background-color: rgb(255, 255, 255);
}

.swiper .swiper-pagination-bullet{
    background-image: linear-gradient( #a87f01,#F5F4F2);
    height: 15px;
    width: 15px;
    
  }
  
  .swiper .swiper-pagination-bullet-active{
    border: 2px solid #D2A960;
  }
.swiper1 .swiper-pagination-bullet{
    background-image: linear-gradient( #a87f01,#F5F4F2);
    height: 15px;
    width: 15px;
    
  }
  
  .swiper1 .swiper-pagination-bullet-active{
    border: 2px solid #D2A960;
  }


  .swiper-slide {
    position: relative; /* Necessário para posicionar os elementos corretamente */
}

.text-overlay {
    position: absolute;
    top: 40%; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D2A960; /* Cor do texto */
    font-size: 25px; /* Tamanho da fonte */
    z-index: 10; /* Garante que o texto esteja acima da imagem */
    font-weight: 600;
}

.btn-overlay {
    position: absolute;
    top: 60%; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #D2A960; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 10; /* Garante que o botão esteja acima da imagem */
    width: 58%;
}

.text-overlay2{
    position: absolute;
    top: 50%; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */
    font-size: 35px; /* Tamanho da fonte */
    z-index: 10; /* Garante que o texto esteja acima da imagem */
    font-weight: 600;
}

.btn-overlay1 {
    position: absolute;
    top: 55%; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D2A960; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    z-index: 10; /* Garante que o botão esteja acima da imagem */
    width: 48%;
    height: 50px;
    font-weight: 600;
}
.text-overlay1{
    position: absolute;
    top: 45%; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */
    font-size: 35px; /* Tamanho da fonte */
    z-index: 10; /* Garante que o texto esteja acima da imagem */
    font-weight: 600;
    color: #ffffff;
}
.text-overlay4{
    position: absolute;
    top: 45%; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */
    font-size: 35px; /* Tamanho da fonte */
    z-index: 10; /* Garante que o texto esteja acima da imagem */
    font-weight: 600;
    color: #D2A960;
}

.cover{
    object-fit: cover;
}

.text-overlay5{
    position: absolute;
    top: 40%; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */
    font-size: 35px; /* Tamanho da fonte */
    z-index: 10; /* Garante que o texto esteja acima da imagem */
    font-weight: 600;
    color: #D2A960;
}
.text-overlay6{
    position: absolute;
    top: 45%; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */
    font-size: 35px; /* Tamanho da fonte */
    z-index: 10; /* Garante que o texto esteja acima da imagem */
    font-weight: 600;
    color: white;
}

.btn-overlay7{
    position: absolute;
    top: 60%; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    color: #D2A960; /* Cor do botão */
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    z-index: 10; /* Garante que o botão esteja acima da imagem */
    font-size: 15px;
    transition: .5s;
}


.text-content {
    max-width: 600px;
}

.text-content h2 {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #D2A960;
    margin-bottom: 10px;
}

.text-content h1 {
    font-size: 32px;
    font-weight: bold;
    color: #D2A960;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 16px;
    color: #7d7d7d;
    margin-bottom: 30px;
    line-height: 1.6;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D2A960;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.button:hover {
    background-color: #b48738;
}

.btn-overlay7:hover{
    background-color: #a8957500;
    border: 1px solid #fff;
    
}